<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete Itineraries Form</title>
</head>
<body>
<form method = "post" th:action="@{/itineraries/delete/{id}(id = ${itineraryDetails.id})}"  >


    <h3> Confirm Deleting "
    <th:block th:each="itineraryDetails : ${itineraryDetails}">
        <label th:text="${itineraryDetails.name.split(',')[0]}">
        </label>
    </th:block>
       "</h3>

    <button type = "Submit" > Delete </button>

</form>
<h3><a href = "http://localhost:8080/itineraries">BACK TO ITINERARIES</a></h3>
</body>
</html>