<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<div>
    <h1 class='text-center text-3xl text-blue-900 font-bold mt-4'>
        Adventure Appraisals
    </h1>
    <nav class="bg-blue-200 p-4 mt-4">
        <ul class="flex space-x-4 w-full">
            <li class="flex-grow flex-1">
                <a href="http://localhost:3000" class="text-white">Home</a>
            </li>
            <li class="flex-grow flex-1">
                <a href="http://localhost:8080/itineraries/search" class="text-white">Search</a>
            </li>
            <li class="flex-grow flex-1">
                <a href="http://localhost:8080/itineraries" class="text-white">Itineraries</a>
            </li>
            <li class="flex-grow flex-1">
                <a href="http://localhost:3000/userPage" class="text-white">User Page</a>
            </li>
            <li class="flex-grow flex-1">
                <a href="http://localhost:8080/itineraries/destination" class="text-white">Destinations</a>
            </li>
            <li class="flex-grow flex-1">
                <a href="http://localhost:3000/login" class="text-white">Login</a>
            </li>
            <li class="flex-grow flex-1">
                <a href="http://localhost:3000/userSignUp" class="text-white">SignUp</a>
            </li>
        </ul>
    </nav>
    <body>
<form method = "post" th:action="@{/itineraries/delete/{id}(id = ${itineraryDetails.id})}"  >


    <div class="mb-8 ml-4">
        <h3 class="font-bold text-blue-900 text-1xl mb-2 mt-4"> Please confirm to delete the following itinerary:</h3>
    </div>
    <div>
    <th:block th:each="itineraryDetails : ${itineraryDetails}">
        <label th:text="${itineraryDetails.name.split(',')[0]}" class="text-1xL py-2 ml-4">
        </label>
    </th:block>
    </div>

    <button type = "Submit" class="border border-blue-500 bg-blue-600 hover:bg-blue-500 w-1/8 p-4 my-2 py-2 font-small text-white mt-4 ml-4"> Delete </button>

  <!--  <table>


        <tr>
            <th>ITINERARY NAME</th>
            <th:block th:each="itineraryDetails : ${ItineraryDetails}">
                <label>
                    <td><th:block th:text="${itineraryDetails.name.split(',')[0]}"></th:block>
                        <input type="checkbox" name="itineraryDetailsIds" th:value="${itineraryDetails.id}" /></td>
                </label>

            </th:block></tr>

        <tr><th>FROM CITY</th>
            <th:block th:each="itineraryDetails : ${ItineraryDetails}">

                <label>
                    <td><th:block th:text="${itineraryDetails.fromCity}"></th:block>
                       <input type="checkbox" name="itineraryDetailsFromCity" th:value="${itineraryDetails.fromCity}" /></td>
                </label>

            </th:block></tr>

        <tr><th>TO CITY</th>
            <th:block th:each="itineraryDetails : ${ItineraryDetails}">

                <label>
                    <td><th:block th:text="${itineraryDetails.toCity}"></th:block>
                      <input type="checkbox" name="itineraryDetailsToCity" th:value="${itineraryDetails.toCity}" /></td>
                </label>

            </th:block></tr>
        <tr><th>TRAVEL START DATE TIME</th>
            <th:block th:each="itineraryDetails : ${ItineraryDetails}">

                <label>
                    <td><th:block th:text="${itineraryDetails.travelStartDateTime}"></th:block>
                      <input type="checkbox" name="itineraryDetailsTravelStart" th:value="${itineraryDetails.travelStartDateTime}" /></td>
                </label>

            </th:block></tr>

        <tr><th>TRAVEL END DATE TIME</th>
            <th:block th:each="itineraryDetails : ${ItineraryDetails}">

                <label>
                    <td><th:block th:text="${itineraryDetails.travelEndDateTime}"></th:block>
                      <input type="checkbox" name="itineraryDetailsTravelEnd" th:value="${itineraryDetails.travelEndDateTime}" /></td>
                </label>

            </th:block>
        </tr>

        <tr><th>DESTINATION SPOT</th>
            <th:block th:each="itineraryDetails : ${ItineraryDetails}">

                <label>
                    <td><th:block th:text="${itineraryDetails.name.split(',')[1]}"></th:block>
                    <input type="checkbox" name="itineraryDetailsIds" th:value="${itineraryDetails.id}" /></td>
                </label>

            </th:block></tr>

        <tr>
        <th><button type = "Submit"> Delete </button></th>
        </tr>

    </table> -->
</form>
<h3><a href = "http://localhost:8080/itineraries" class="text-blue-900 underline ml-4 mb-8">BACK TO ITINERARIES</a></h3>
</body>
</html>