<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1> DESTINATION SPOTS</H1>
<table>
<tr>
    <th>DESTINATION SPOT</th>
    <th:block th:each = "destination : ${Destination}">
        <td th:text = "${destination.name}"></td>
        <td><a th:href="@{/itineraries/updateDestination/{id}(id=${destination.id})}">Update</a></td>
    </th:block></tr>
<tr>

    <th>DESTINATION SPOT IMAGE</th>
    <th:block th:each = "destination : ${Destination}">
        <td><img th:src =  "${destination.image}" alt = "IMAGE" /></td><td></td>
    </th:block>

    <!--  <td><img th:src = "@{/image/Orlando1.jpeg}" />
           "@{'data:image/jpeg;base64,' + T(com.example.AdventureAppraisals.models.ImageUtil).bytesToBase64(destination.image)}"
                        </td><td></td>

  <td><img th:src="@{/image/Seattle1.jpeg}" /></td><td></td>
  <td><img th:src="@{/image/Pittsburg1.jpeg}" /></td><td></td> -->
    <!--   th:src="@{'data:image/jpeg;base64,'+${base64EncodedImage}}" -->

</tr>
<tr>
    <th></th>
    <!-- <td><img th:src="@{/Orlando1.jpeg}" /></td><td></td>
     <td><img th:src="@{/Seattle1.jpeg}" /></td><td></td>
     <td><img th:src="@{/Pittsburg1.jpeg}" /></td><td></td> -->
    <th:block th:each = "destination : ${Destination}">
        <td><a th:href = "@{/itineraries/upload/{id}(id=${destination.id})}">Upload</a></td><td></td>
    </th:block>
</tr>


</table>
<h3><a href = "http://localhost:8080/itineraries">BACK TO ITINERARIES</a></h3>
</body>
</html>