<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method = "post" th:action="@{/itineraries/update/{id}(id = ${itinerary.id})}" th:object = "${itinerary}">
<input type="hidden" name="_method" value = "PUT" />


    <table>
        <tr>
            <th>ITINERARY NAME</th>
            <th:block th:each = "itinerary : ${itinerary}" >

                <td>  <input type = "text" name = "name" th:field = "${itinerary.name}" th:value= "${itinerary.name}"  /><br /></td>

            </th:block></tr>

    </table>
    <button type = "Submit" > Save </button>
</form>
</body>
</html>